@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

.body {
    position: relative;
}

.cdx-notify__cross {
    top: 2px;
    right: 10px;
}

.cdx-notify__button {
    outline: none !important;
}
